## Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. 
Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris 
rellevants. Justifica la teva elecció.

In [2]:
# Importamos las librerias que utilizaremos a lo largo de este sprint.

import pandas as pd
import numpy as np

*Antes de descargar el dataset comentaremos brevemente su origen y características.

De acuerdo a lo investigado según fuentes secundarias la base de datos "DelayedFlights" contiene vuelos internos diferentes en los EE. UU. para 2008 y sus causas de retraso, desvío y cancelación; Si existiese alguna. Estos datos provendrían de la Oficina de Estadísticas de Transporte (BTS) del Departamento de Transporte de EE. UU. (DOT).

In [3]:
# Ahora cargaremos la base de datos en un objeto dataframe utilizando la librería pandas

df = pd.read_csv('DelayedFlights.csv')

# Ahora realizaremos un análisis exploratorio de los datos
# A través de un "head" obtendremos una vista rápida de las 5 primeras filas y recorreremos algunas de sus columnas.

df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Luego a través de un "info" podemos conseguir el rango de resgistros (1.936.758) y el tipo de datos de cada columna.
# El 46,6% de las columnas contienen registros float, el 36,6% int y solo el 16,6% respresentan registros de tipo object. 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

###### Ahora comentaremos las variables existentes visualizadas en las celdas anteriores. Comprender bien el significado de cada una y su unidad de medida, nos ayudará a poder gestionar de mejor manera la edición de las mismas según se requiera más adelante.

* **Unnamed**           : Este es índice que se genera automáticamente
* **Year**              : Indica el año del dataset. El cual es 2008.
* **Month**             : 1-12 (número correlativo desde enero:1 a diciembre:12)
* **DayofMonth**        : 1-31 (número correlativo desde el 1 hasta el 31 según fecha del mes)
* **DayOfWeek**         : 1-7  (número correlativo de la semana desde el 1:lunes, hasta el 7:domingo)
* **DepTime**           : Hora de salida real del vuelo (hora local en, hhmm)
* **CRSDepTime**        : Hora de salida programa del vuelo (hora local en, hhmm)
* **ArrTime**           : Hora de llegada real del vuelo (hora local en, hhmm)
* **CRSArrTime**        : Hora de llegada programada del vuelo (hora local en, hhmm)
* **UniqueCarrier**     : Codigo único de operador
* **FlightNum**         : Número del vuelo
* **TailNum**           : Número de cola del avión, matrícula de la aeronave, identificador único del avión
* **ActualElapsedTime** : Tiempo transcurrido de vuelo o duración del vuelo, en minutos
* **CRSElapsedTime**    : Tiempo transcurrido de vuelo o duración del vuelo programada, en minutos
* **AirTime**           : Tiempo en el aire o tiempo de vuelo, en minutos
* **ArrDelay**          : Retraso en la llegadda en minutos. Un vuelo se cuenta como "a tiempo" si el retraso es inferior a 15 minutos.
* **DepDelay**          : Retraso en la salida, en minutos
* **Origin**            : Código de aeropuerto IATA (Asociación de Transporte Aéreo Internacional)
* **Dest**              : Código del aeropuerto de destino IATA
* **Distance**          : Distancia en millas
* **TaxiIn**            : Tiempo transcurrido desde que el avión toca tierra al aterrizar y su llegada a la terminal de estacionamiento, en minutos.
* **TaxiOut**           : Tiempo transcurrido desde que el avión sale de la terminal de estacionamiento hasta que llega a la pista de despegue, en minutos.
* **Cancelled**         : El vuelo ha sido cancelado.
* **CancellationCode**  : Código de la cancelació según motivo (A = operador, B = tiempo, C = NAS o Sistema Nacional de Espacio Aéreo, D = seguridad)
* **Diverted**          : 1 = sí, 0 = no (cuando el vuelo fue desviado y aterriza en un aeropuerto diferente al previsto)
* **CarrierDelay**      : Retraso del operador, en minutos. Cualquier tipo de retraso bajo este item esta asociado a la gestión del operador y es de su responsabilidad.
* **WeatherDelay**      : Retraso a causa de condiciones meteorológicas, en minutos. Generalmente se cancela por condiciones climáticas extremas.
* **NASDelay**          : Retraso bajo el control del NAS (incluye meteorología no extrema, operaciones aeroportuarias, volumen de tránsito intenso, control de tránsito aéreo, entre otras), en minutos.
* **SecurityDelay**     : Retraso por seguridad, en minutos. Aquín se incluyo todo tipo de poblema originado por fallas en la seguridad.
* **LateAircraftDelay** : Retraso de un vuelo, en minutos. Se debe a que el avión utilizado para el vuelo en cuestión tuvo un retraso en llegar al aeropuerto, por diversas razones.

### Criterios para la eliminación de columnas

1. Solicitud de información en los ejercicios siguientes: Este es el principal criterio de elección puesto que al inicio de una investigación, todos los datos son potencialmente utilizables. Entonces y luego de leer las demandas de los ejercicios siguientes, todo aquello que sea capaz de codificar vuelos y caracterizarlos no debería ser borrado (códigos de vuelo, aeropuertos, fechas, distancia, etc).

2. El foco del ejercicio se encuentra en el retraso de los vuelos. Si consideramos en adelante como retraso únicamente aquello categorizado como tal a partir de la columna "ArrDelay", entonces podemos prescindir de todas aquellas columnas que también hablan de delay pero de manera específica, como por ejemplo: Por "weather", "NAS","Carrier","LateAircraft","Security".

3. Por otra parte tenemos los campos "Cancelled" y "CancellationCode" que nos hablan de vuelos cancelados y que por tanto no presentan interés en las solicitudes de los ejercicios de más adelante.

4. Por último tenemos aquellos campos que nos entregan información sobre lo programado, no sobre lo real. Por lo tanto si decidimos que actuaremos sobre los datos reales, es decir, sobre aquello que ocurrió en lugar de lo que se programó entonces podríamos prescindir de "CRSDepTime", "CRSArrTime", "CRSElapsedTime".

5. El campo creado automáticamente al crear el dataframe "Unnamed: 0", será eliminado ya que es innecesario.

6. Finalmente y a modo de comentario hablaremos de las columnas "TaxiIn" y "TaxiOut". Nos entregan información prescidible para lo solicitado más adelante, sin embargo me parece información que puede ser interesante a la hora de aportar nuevo conocimiento al final del análisis. Por lo tanto he decidido dejar estos campos.

In [5]:
# Eliminación de las columnas con el método "drop". De esta manera generamos una copia del dataframe original denominado "df", pero sin las columnas que eliminaremos.

clean_df = df.drop(['WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'CarrierDelay', 'Cancelled', 'CancellationCode', 'CRSDepTime', 'CRSArrTime', 'CRSElapsedTime', 'Unnamed: 0'], axis=1)

# Luego de eliminar las columnas visualizamos el nuevo dataframe.

print(clean_df.head())

   Year  Month  DayofMonth  DayOfWeek  DepTime  ArrTime UniqueCarrier  \
0  2008      1           3          4   2003.0   2211.0            WN
1  2008      1           3          4    754.0   1002.0            WN
2  2008      1           3          4    628.0    804.0            WN
3  2008      1           3          4   1829.0   1959.0            WN
4  2008      1           3          4   1940.0   2121.0            WN

   FlightNum TailNum  ActualElapsedTime  AirTime  ArrDelay  DepDelay Origin  \
0        335  N712SW              128.0    116.0     -14.0       8.0    IAD
1       3231  N772SW              128.0    113.0       2.0      19.0    IAD
2        448  N428WN               96.0     76.0      14.0       8.0    IND
3       3920  N464WN               90.0     77.0      34.0      34.0    IND
4        378  N726SW              101.0     87.0      11.0      25.0    IND

  Dest  Distance  TaxiIn  TaxiOut  Diverted
0  TPA       810     4.0      8.0         0
1  TPA       810     5.0     10.0         0
2  BWI       515     3.0     17.0         0
3  BWI       515     3.0     10.0         0
4  JAX       688     4.0     10.0         0

### Reducción del dataset a 200.000 datos de forma aleatoria.

In [6]:
# El último paso para cerrar este ejercicio será la reducción aleatoria del dataset a través del método "sample".

sample_df = clean_df.sample(n=200000)

## Exercici 2

Fes un informe complet del dataset:

**1. Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant**.

In [7]:
""" Una forma de obtener una descripción básica y que abarque todo el rango de columnas de un dataframe es a través de la función 
describe(). A través de ella accedemos a la cantidad de datos del dataset, su media, su desvación stándar, datos mínimos y 
máximos y el comportamiento según cuartiles.

Si nos centramos en una de las variables que serán importantes para los siguientes ejercicios como por ejemplo el tiempo de retraso en 
arribo o llegada ArrDelay, podemos observar que su media es 42 minutos de retraso, mientras de que su desvación es de 56 minutos.
Para emitir un primer juicio respecto de si la desviación es alta o bajo necesitaríamos conocer como mínimo el rango de los datos.
Para lo anterior describe nos aporta los datos de min y max y con ello podemos llegar a la conclusión de que el rango de los datos
es de 1.818 minutos, es decir algo así como 30 hrs aprox. Podríamos decir que la dispersión podría ser relativamente alta y su desvación 
standar también, sobre todo considerando que hablamos de tiempo de espera en un aeropuerto.

No obstante a lo dicho anteriormente cabe destacar que harían falta otros métodos descriptivos como gráficos para poder analizar la dispersión
de los datos y emitir juicios mejor fundamentados, por ahora lo dejaremos aquí."""

# Aprovechamos para disminuir a 2 decimales los datos de las columnas de manera general para obtener una vista mas limpia del datsaet mediante .round


sample_df.describe().round(2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Diverted
count,200000.0,200000.00,200000.00,200000.00,200000.00,199289.00,200000.00,199134.00,199134.00,199134.00,200000.00,200000.00,199289.00,199954.00,200000.00
mean,2008.0,6.11,15.77,3.98,1518.59,1608.99,2180.40,133.15,108.17,42.18,43.17,764.92,6.81,18.19,0.00
std,0.0,3.48,8.78,1.99,450.79,549.14,1944.72,72.27,68.93,57.05,53.63,577.05,5.22,14.14,0.06
min,2008.0,1.00,1.00,1.00,1.00,1.00,1.00,16.00,1.00,-69.00,6.00,31.00,0.00,0.00,0.00
25%,2008.0,3.00,8.00,2.00,1204.00,1317.00,610.00,80.00,58.00,9.00,12.00,337.00,4.00,10.00,0.00
50%,2008.0,6.00,16.00,4.00,1545.00,1715.00,1541.00,116.00,90.00,24.00,24.00,606.00,6.00,14.00,0.00
75%,2008.0,9.00,23.00,6.00,1900.00,2030.00,3412.00,165.00,137.00,56.00,53.00,998.00,8.00,21.00,0.00
max,2008.0,12.00,31.00,7.00,2400.00,2400.00,9740.00,1114.00,1091.00,2461.00,2467.00,4962.00,199.00,306.00,1.00

**2. Troba quantes dades faltants hi ha per columna**.

In [8]:
""" Según me he documentado existen al menos dos maneras para encontrar valores faltantes en un dataset a través
 de Numpy con `isnan()` y por medio de Pandas con `isnull()`. utilizaremos la segunda puesto que en este apartado
 estamos descubriendo las funciones de Pandas."""

print(sample_df.isnull().sum())
print("El número de valores inexistentes en todo el dataframe es:", sample_df.isnull().sum().sum())

Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
DepTime                0
ArrTime              711
UniqueCarrier          0
FlightNum              0
TailNum                3
ActualElapsedTime    866
AirTime              866
ArrDelay             866
DepDelay               0
Origin                 0
Dest                   0
Distance               0
TaxiIn               711
TaxiOut               46
Diverted               0
dtype: int64
El número de valores inexistentes en todo el dataframe es: 4069

*Podemos ver del resultado anterior que las columnas:  'ActualElapsedTime', 'ArrDelay', 'AirTime', 'TaxiIn', 'ArrTime'
y 'TaxiOut' presentan datos inexistentes o nulos. Además es posible identificar que existe la misma cantidad de datos nulos para las 3 primeras columnas descritas. Por otra parte 'TaxiIn' y 'ArrTime' presentan la misma condición. Puede ser interesante descubrir más adelante si existe algún tipo de correlación entre las variables en cuestión*.

**3. Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).**

In [9]:
# Ahora crearemos una nueva columna que nos muestre la velocidad mediana del vuelo.

"""Para este ejercicio necesitamos utilizar columnas que nos muestren la distancia por un lado y por el otro el tiempo que
le toma a un vuelo recorrer dicha distancia. Para la distancia solo tenemos el campo 'distance' como referencia por lo que no
necesitamos pensarlo mucho. Mientras tanto para el tiempo de recorrido tenemos dos campos 'ActualElapsedTime' y 'AirTime'. 
Como se nos solicita la velocidad media del vuelo podría no servirnos de mucho considerar todo aquel tiempo donde el avión
no se encuentra en el aire a muy bajas velocidades, es decir, el TaxiIn y TaxiOut. Eso podría "ensuciar" el resultado final,
por tanto considero que bajo este criterio el dato de tiempo de vuelo en el aire es mucho más preciso para estos efectos. De
esta manera utilizaremos 'AirTime'."""

""" Para seguir un paso a paso más pedagógico y ordenado para obtener el resultado solicitado, crearé columnas nuevas con 
la unidad de medida en km y horas antes de obtener la velocidad media del vuelo """

sample_df['dist_km'] = sample_df['Distance']* 1.60934
sample_df['Air_hr'] = sample_df['AirTime']/ 60
sample_df['Vel_mean'] = sample_df['dist_km']/sample_df['Air_hr']

sample_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Diverted,dist_km,Air_hr,Vel_mean
1545290,2008,10,31,5,1050.0,1237.0,WN,1827,N711HK,287.0,...,30.0,MCO,LAS,2039,4.0,10.0,0,3281.44426,4.550000,721.196541
913141,2008,6,25,3,2001.0,2124.0,WN,728,N202WN,263.0,...,76.0,PIT,LAS,1910,6.0,10.0,0,3073.83940,4.116667,746.681636
975049,2008,6,6,5,2032.0,2307.0,US,94,N634AW,155.0,...,31.0,PHX,PDX,1009,3.0,14.0,0,1623.82406,2.300000,706.010461
366995,2008,2,18,1,1638.0,2337.0,CO,380,N73256,239.0,...,7.0,LAS,CLE,1825,7.0,17.0,0,2937.04550,3.583333,819.640605
1522589,2008,9,9,2,1243.0,1410.0,DL,884,N662DN,87.0,...,93.0,TPA,ATL,406,10.0,16.0,0,653.39204,1.016667,642.680695

In [10]:
# En esta oportunidad crearemos una columna donde podamos ver si el vuelo se ha retrasado o no.

""" Aquí la columna a utilizar será 'ArrDelay' donde ya sabemos que para que un vuelo se cuente como retrasado, debe tener
más de 15 min de retraso. Por lo tanto crearemos la columna 'Dlyed_no_Dlyed' donde utilizaremos la función `where` de NumPy donde expresaremos
que todo aquel registro que tenga un valor superior a 15 min (> 15) será re-categorizado en el nuevo campo como dlayed y si lo anterior no sucede,
es decir que el retraso sea < 15 min, será categorizado como 'on_time'."""

sample_df['dlyed_no_dlyed'] = np.where(sample_df['ArrDelay'] > 15,'dlayed','on_time')
print(sample_df[['ArrDelay','dlyed_no_dlyed']])

         ArrDelay dlyed_no_dlyed
1545290      12.0        on_time
913141       64.0         dlayed
975049       25.0         dlayed
366995       11.0        on_time
1522589      89.0         dlayed
...           ...            ...
1869109      82.0         dlayed
1081997      51.0         dlayed
1070464      46.0         dlayed
1327057     126.0         dlayed
558749       71.0         dlayed

[200000 rows x 2 columns]

In [11]:
# ahora crearemos una nueva columna que nos podría servir para algún exercicio de más adelante si quisiésemos utilizarla.
# Crearemos la columna "Rutas"

""" Lo que haremos será concatenar mediante "cat" el origen (Origin) y el destino (Dest). Para asegurarnos de que "cat" funcione correctamente
utilizamos la conversion a cadena de texto (str). Luego, dentro de la función función cat asignamos como primer argumento el final de la nueva cadena
"Dest" y como segundo argumento "sep" (separador) la forma en la que uniremos ambas cadenas de texto, es decir a través de un espacio vacío " ". """


sample_df['Rutas']=sample_df.Origin.str.cat(sample_df.Dest, sep=" ")
sample_df['Rutas']

1545290    MCO LAS
913141     PIT LAS
975049     PHX PDX
366995     LAS CLE
1522589    TPA ATL
            ...
1869109    DFW HOU
1081997    ATL RDU
1070464    IAH DCA
1327057    ORD GSO
558749     RSW EWR
Name: Rutas, Length: 200000, dtype: object

In [12]:
sample_df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'ArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn',
       'TaxiOut', 'Diverted', 'dist_km', 'Air_hr', 'Vel_mean',
       'dlyed_no_dlyed', 'Rutas'],
      dtype='object')

*Podemos ver en el listado de columnas anterior, todas aquellas creadas al final del dataset: 'Vel_mean', 'dlyed_no_dlayed', y 'Rutas'*.

**4. Fes una taula de les aerolínies amb més endarreriments acumulats**.

In [13]:
# Probaremos dos maneras de realizar el cálculo solicitado
# La primera será mediante groupby

""" Como nos preguntan sobre atrasos entonces debemos en primer lugar identificar dónde se encuentran. Para eso farem servir la columna
ya creada 'dlyed_no_dlyed' == "dlayed". De esta manera ya los tenemos identificados para su posterior conteo. Luego agruparemos dicha información
por el campo 'UniqueCarrier' para finalmente realizar el conteo. Finalmente imprimimos la variable ordenada de manera ascendente """

aero_dly_acum=sample_df[sample_df.dlyed_no_dlyed=="dlayed"].groupby(["UniqueCarrier"])["dlyed_no_dlyed"].value_counts()
print(aero_dly_acum.sort_values(ascending=False))

UniqueCarrier  dlyed_no_dlyed
WN             dlayed            20336
AA             dlayed            13553
MQ             dlayed             9732
UA             dlayed             9644
OO             dlayed             8888
XE             dlayed             7313
DL             dlayed             7143
US             dlayed             5978
CO             dlayed             5964
EV             dlayed             5800
NW             dlayed             5441
YV             dlayed             5193
FL             dlayed             4817
OH             dlayed             3877
B6             dlayed             3819
9E             dlayed             3570
AS             dlayed             2363
F9             dlayed             1555
HA             dlayed              449
AQ             dlayed               25
Name: dlyed_no_dlyed, dtype: int64

In [14]:
# Ahora probaremos la segunda forma de hacerlo.
# primero creamos una variable para tener solo los vuelos atrasados desde la columna ya creada y luego realizamos el conteo para cada código de operador (Carrier)

dlayed = sample_df[sample_df['dlyed_no_dlyed'] == 'dlayed']
aero_dlayed = dlayed['UniqueCarrier'].value_counts()

print(aero_dlayed)

WN    20336
AA    13553
MQ     9732
UA     9644
OO     8888
XE     7313
DL     7143
US     5978
CO     5964
EV     5800
NW     5441
YV     5193
FL     4817
OH     3877
B6     3819
9E     3570
AS     2363
F9     1555
HA      449
AQ       25
Name: UniqueCarrier, dtype: int64

**5. Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.**

5.1 Quins són els vols més llargs?

In [15]:
""" Para este caso utilizaremos la columna creada 'dist_km' para expresar el resultado en dicha unidad de medida. 
Además llamaremos a la función 'sort_values" para ordenar la columna de manera ascendente mediante false. Finalmente para mostrar
los primeros 30 vuelos más largos utilizaremos el argumento n=30 en head para su visualización.'""" 

# He puesto el valor 30 porque de esta manera es posible visualizar distancias diferentes. 

Vuelos_mas_largos = sample_df['dist_km'].sort_values(ascending = False).head(30)
print("Los 30 vuelos más largos en (km) son: ")
print(Vuelos_mas_largos)

Los 30 vuelos más largos en (km) son:
176213     7985.54508
870877     7985.54508
1620655    7985.54508
556365     7985.54508
1073043    7985.54508
175736     7985.54508
368996     7985.54508
720851     7985.54508
173676     7985.54508
1074102    7985.54508
718062     7985.54508
174075     7985.54508
1416295    7985.54508
365021     7985.54508
1072046    7985.54508
1922058    7985.54508
1724446    7985.54508
875244     7985.54508
1414599    7985.54508
1066860    7985.54508
877108     7985.54508
715058     7985.54508
1072205    7985.54508
556359     7985.54508
363905     7985.54508
1925155    7985.54508
1519874    7985.54508
1074919    7985.54508
1421428    7985.54508
363750     7985.54508
Name: dist_km, dtype: float64

5.2 I els més endarrerits?

In [16]:
""" Como el elay en la llegada esta calvulado en minutos y se nos solicitan los más atrasados, se presupone que la lista 
arrojará números muy grandes. por esta razón se creará una variable que almacene los valores en horas, de manera tal que al momento
de generar la tabla la información sea mucho más legible. El resto de la operación ya se realizó en el ejercicio anterior.""" 

arr_delay_hr = sample_df['ArrDelay'] / 60
Vuelos_mas_atrasados = arr_delay_hr.sort_values(ascending = False).head(10)

print("Los 10 vuelos más atrasados (en hr): ")
print(Vuelos_mas_atrasados)

Los 10 vuelos más atrasados (en hr):
322516     41.016667
686014     40.883333
1228543    22.283333
517183     19.816667
840237     19.250000
1887360    19.250000
1375726    19.000000
1879159    18.600000
1502795    18.550000
1895175    18.300000
Name: ArrDelay, dtype: float64

5.3 Busca les rutes més llargues

In [17]:
""" El siguiente ejercicio esta hecho en una línea de código pero en realidad son 3 partes. La primera parte es aquella que finaliza
con el groupby. Este método lo utilizamos para generar todas las combinaciones posibles de rutas para todos los vuelos a través de
su origine y su destino. En la egunda parte convocamos a la función .agg, la cual nos sirve para calcular estadísticas descriptivas
en este caso para cada ruta de vuelo. Como necesitamos la ruta más larga entonces utilizamos .max y se lo aplicamos a la columna
que nos sirve para obtener el cálculo, es decir, dist_km la cual nos entrega la distancia (para este caso la distancia de la ruta).
Finalmente nos queda ordenar la tabla mediante sort_values tomando como referencia la columna distancia (función utilizada previamente). 
Para acabar solicitamos que nos arroje solo las 10 rutas más largas del dataset. 
"""
# Me hubiese gustado quitar los duplicados de las rutas eliminando ya sea la ida o la vuelta, pero no logré entender cómo hacerlo.

rutas_mas_largas = sample_df.groupby(['Origin','Dest']).agg({'dist_km':'max'}).sort_values(by='dist_km', ascending=False).head(10)
rutas_mas_largas

                dist_km
Origin Dest
HNL    EWR   7985.54508
EWR    HNL   7985.54508
HNL    ATL   7245.24868
ATL    HNL   7245.24868
HNL    ORD   6828.42962
ORD    HNL   6828.42962
KOA    ORD   6780.14942
ORD    OGG   6733.47856
MSP    HNL   6392.29848
HNL    MSP   6392.29848

In [18]:
# Otra forma de hacerlo utilizando nuestra columna 'Rutas', creada previamente.

rutes_mas_largas = sample_df.groupby('Rutas').agg({'dist_km':'max'}).sort_values(by='dist_km', ascending=False).head(10)
rutes_mas_largas

            dist_km
Rutas
HNL EWR  7985.54508
EWR HNL  7985.54508
HNL ATL  7245.24868
ATL HNL  7245.24868
HNL ORD  6828.42962
ORD HNL  6828.42962
KOA ORD  6780.14942
ORD OGG  6733.47856
MSP HNL  6392.29848
HNL MSP  6392.29848

5.4 Rutes que acumulen més retards

In [19]:
# Primera forma para lograr un resultado.
# he pensado esta primera manera como aproximación a lo solicitado puesto que no he podido llegar a una manera concreta.

""" Mediante un groupby realizaré la agrupación de los tiempos de retraso enrelación a las rutas ya creadas previamente. Calcularé
el máximo valor en los tiempos de estas rutas y las ordenadré de manera ascendente. Entonces tenemos el máximo tiempo en min de retraso
por rutas"""

rutas_adly = sample_df.groupby('Rutas')['ArrDelay'].max()
rutas_adly.sort_values(ascending=False)

Rutas
HNL MSP    2461.0
CLT MSP    2453.0
TPA ORD    1337.0
SEA MSP    1189.0
ALB DTW    1155.0
            ...
MOD RNO       NaN
MSY OKC       NaN
OMA GRB       NaN
RDU GRB       NaN
SDF SPI       NaN
Name: ArrDelay, Length: 4814, dtype: float64

In [23]:
# Esta segunda forma no considera tiempo en minutos sino valores absolutos acumulados de retraso para la llegada de los vuelos agrupados en rutas. 
# Finalmente tenemos el conteo de la cantidad de vuelos retrasados en arribo por rutas, ordenados de mayor a menor (ascendente)

rutas_dly_acum=sample_df[sample_df.dlyed_no_dlyed=="dlayed"].groupby(["Rutas"])["dlyed_no_dlyed"].value_counts()
print(rutas_dly_acum.sort_values(ascending=False))

Rutas    dlyed_no_dlyed
ORD LGA  dlayed            360
LAX SFO  dlayed            335
ATL LGA  dlayed            288
SFO LAX  dlayed            283
ORD EWR  dlayed            276
                          ...
CAK CVG  dlayed              1
CAK LAS  dlayed              1
SMF SBA  dlayed              1
CAK RSW  dlayed              1
LAX JAC  dlayed              1
Name: dlyed_no_dlyed, Length: 4699, dtype: int64

### Exercici 3

Exporta el dataset net i amb les noves columnes a Excel.

In [24]:
""" Como hasta el momento no fue estrictamente necesario corregir o limpiar datos para obtener los resultados solicitados 
- producto de que los NaN eran muy poco representativos del total-, no se aplico ningún llenado de registros para el caso 
de dichos valores. Si por ejemplo se realizó el redondeo de datos para no tener tantos decimales y leer mejor el dataset. 
Sin embargo ahora se exije un dataset limpio, antes de exportarlo. """

sample_df = sample_df.fillna(0)

sample_df.to_excel('DelayedFlights.xlsx', sheet_name = 'Sheet1')